<div class="row mt-4">
    <div class="col-5 col-sm-12">

        <div class="card mt-4">
            <div class="card-header">Find a Pet to Adopt</div>
            <div class="card-body">


                <div class="col-12 col-sm-6">
                    <form id="Adopt-param" onsubmit="return false">
                        <div class="form-group">
                            <label for="Breed-input">Species</label>
                            <input type="type" class="form-control" id="type-input" placeholder="rabbit">
                        </div>
                        <div class="form-group">
                            <label for="Breed-input">Breed</label>
                            <input type="breed" class="form-control" id="Breed-input" placeholder="Doberman Pinsche">
                        </div>
                        <div class="form-group">
                            <label for="gender-input">Gender</label>
                            <input type="gender" class="form-control" id="gender-input" placeholder="female">
                        </div>
                        <div class="form-group">
                            <label for="Zip-input">Zip code</label>
                            <input type="zip code" class="form-control" id="zip-input" placeholder="32563">
                        </div>
                        <div class="form-group">

                            <button type="submit" (click)="getAdoptions()" class="btn btn-primary">Submit</button>

                            <!-- </form> -->



                        </div>

                        <!-- </div> -->
                        <!-- </div> -->
                        <!-- </div>
  </div>
</div> -->
