
<header class="py-0">
    <div class="container">
      <app-navbar></app-navbar>
    </div>
  </header>
  
  <app-adopt-filter-nav></app-adopt-filter-nav>
  <app-adoption-results></app-adoption-results>
  
  <!-- <div class="container">
    <div class="row mt-4">
      <div class="col-5 col-sm-6">
  
        <div class="card mt-4">
          <div class="card-header">Find a Pet to Adopt</div>
          <div class="card-body">
  
  
            <div class="col-12 col-sm-6">
              <form id="Adopt-param" onsubmit="return false">
                <div class="form-group">
                  <label for="Breed-input">Species</label>
                  <input type="type" class="form-control" id="type-input" placeholder="rabbit">
                </div>
                <div class="form-group">
                                <label for="Breed-input">Breed</label>
                                <input type="breed" class="form-control" id="Breed-input"
                                    placeholder="Doberman Pinsche">
                            </div> 
                <div class="form-group">
                  <label for="Zip-input">Zip code</label>
                  <input type="zip code" class="form-control" id="zip-input" placeholder="32563">
                </div>
                <div class="form-group">
  
                  <button type="submit" onclick="getAdoptions()" class="btn btn-primary">Submit</button>
                  
              </form>
  
  
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
  
      <div class="col-5 col-sm-6">
  
        <h1>Adoptions</h1>
        <ul class="list-group" id="adoption-list">
  
        </ul>
      </div>
    </div>
    <div class="row"> -->
  
  
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js"></script>
      <!-- <script type="text/javascript" src="app.js"></script> -->
  
      <footer>
        Data from https://api.petfinder.com/v2/
      </footer>