<header class="py-0">
  <div class="container">
    <app-navbar></app-navbar>
  </div>
</header>

<div class="container">
    <h1>About Puppers</h1>

    <p>Puppers.com is an easy way for you to find the perfect animal to adopt.  Why go to a dog breeder, cat breeder or pet store to buy a dog or buy a cat when you can adopt?</p>

    <h2>Why Should You Adopt?</h2>

    <p>Dog adoption and cat adoption saves lives. Adopt a dog or adopt a cat and you'll have a friend for life.

      What is the difference between adopting a dog, adopting a cat, adopting a kitten or adopting a puppy versus getting dogs for sale, cats for sale, puppies for sale or kittens for sale from a dog breeder or a cat breeder?
      
      When someone is breeding puppies or breeding kittens, they are creating new dogs and cats who need homes. Some people are interested in a very specific breed of dog, cat, puppy or kitten and they think the only way to find that specific breed is to buy a dog for sale or buy a cat for sale from a puppy breeder or a kitten breeder. Yet animal shelters are filled with dogs and cats who must find homes.
      
      So rather than buying a dog or puppy for sale from a dog breeder or buying a cat or kitten for sale from a cat breeder, we encourage people to adopt a dog, adopt a cat, adopt a puppy or adopt a kitten at their local animal shelter, SPCA, humane society or pet rescue group.</p>
      </div>